pip install gql[all]
python version: 3.10.2 64-bit


For the usage of the app, you will need to open the terminal and install gql[all], as mentioned in the first line,
this is for the fetching of the database.
Also, if you find problems of missing imports, changing the python interpreter may solve it.